body {
	background: black;
	margin: 0;
	padding: 0;

	color: white;
}

button {
	outline: none;
}

.normal-font {
	font-family: Roboto, sans-serif;
}

.App {
	position: fixed;
	top: 0;
	bottom: 0;
	margin: auto;
	height: fit-content;

	// font-size: 16px;
	font-size: 1.5vh;
	user-select: none;

	&.dev {
		user-select: initial;
	}
}

.placeholder {
	position: relative;
	max-width: 100vw;

	// opacity: 50%;
}

.screen {
	position: absolute;
	box-sizing: border-box;
	// border: 1px solid white;

	top: 9vh;
	left: 10vw;
	width: 80vw;
	height: 35vh;

	padding: 2vh 4vw;

	display: flex;

	// top: 11vh;
    // left: 14vw;
    // width: 72vw;
    // height: 31vh;

	.left-panel {
		flex-grow: 1;
	}

	.right-panel {
		position: relative;

		padding-left: 4vw;
		border-left: 2px solid white;

		.sounds {
			& > img {
				height: 5vh;
			}

			.normal-font {
				font-size: 1.5vh;
			}
		}

		.sounds,
		.game-over {
			text-align: center;
		}

		.game-over {
			position: absolute;
			bottom: 0;
			width: calc(100% - 4vw);

			animation: 2s game-over-blink infinite;
		}
	}
}

@keyframes game-over-blink {
	0% {
		opacity: 100%;
	}

	49% {
		opacity: 100%;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

.btn-big {
	background: transparent;
	padding: 0;
	margin: 0;
	display: block;
	border: none;

	filter: drop-shadow(0 8px 5px black);

	&.pressed {
		filter: none;
	}
}

.big-buttons {
	position: absolute;
	right: 10vw;
	bottom: 15vh;
	height: 11.5vh;

	display: flex;
	gap: 2vw;

	img {
		width: 11.5vw;
	}

	.btn-1 {
		align-self: flex-end;
	}

	.btn-2 {
		align-self: center;
	}

	.btn-3 {
		align-self: flex-start;
	}
}

.btn-small {
	background: transparent;
	padding: 0;
	margin: 0;
	display: block;
	border: none;

	filter: drop-shadow(0 5px 5px black);

	&.pressed {
		filter: none;
	}
}

.small-buttons {
    position: absolute;
    bottom: 6vh;
    left: 12vw;
    gap: 10vw;
    display: flex;

	img {
		width: 5.5vw;
	}
}

.heart {
	color: red;
}

// .lives {

// }

.terrain {
	text-align: center;

	.row {
		display: flex;
		justify-content: center;
	}

	.cell {
		position: relative;

	}

	.n {
		color: #571515;
	}

	.woman {
		color: peachpuff;
	}

	.goblin {
		color: green;

		&.bloody {
			text-decoration: underline 4px darkred;
		}
	}

	.soil {
		color: olive;

		&.bloody {
			color: darkred;
		}
	}

	.dead {
		background: darkred;
	}

	.hit {
		position: absolute;
		left: 0;
		top: 0;

		color: red;
	}

}

.guide {
	text-align: center;
	color: grey;
	margin: 16px 0;
}

.hero {
	text-align: center;
	color: pink;

	& > .bonker {
		color: silver;
	}
}

.hit-counter {
	text-align: center;
	margin-top: 16px;
}

.symbol-list {
	margin-top: 48px;
	margin-bottom: 16px;

	.succubus {
		color: pink;
	}

	.bonker {
		color: silver;
	}

	.goblin {
		color: green;
	}
}