body {
	background: black;
	margin: 0;
	padding: 5vh 10vw;

	color: white;
}

.App {
	font-size: 16px;
	user-select: none;

	&.dev {
		user-select: initial;
	}
}

.heart {
	color: red;
}

// .lives {

// }

.terrain {
	text-align: center;

	.row {
		display: flex;
		justify-content: center;
	}

	.cell {
		position: relative;

	}

	.n {
		color: #571515;
	}

	.woman {
		color: peachpuff;
	}

	.goblin {
		color: green;

		&.bloody {
			text-decoration: underline 4px darkred;
		}
	}

	.soil {
		color: olive;

		&.bloody {
			color: darkred;
		}
	}

	.dead {
		background: darkred;
	}

	.hit {
		position: absolute;
		left: 0;
		top: 0;

		color: red;
	}

}

.guide {
	text-align: center;
	color: grey;
	margin: 16px 0;
}

.hero {
	text-align: center;
	color: pink;

	& > .bonker {
		color: silver;
	}
}

.hit-counter {
	text-align: center;
	margin-top: 16px;
}

.symbol-list {
	margin-top: 48px;
	margin-bottom: 16px;

	.succubus {
		color: pink;
	}

	.bonker {
		color: silver;
	}

	.goblin {
		color: green;
	}
}